<!DOCTYPE html>
<html>
    <%- include("head") %>
    <link rel="stylesheet" href="/css/car.css">
</head>

<body>
    <%- include("navbar") %>

    <img src="/imagenCoche/<%=coche.id%>" id="bck-img" alt="imagen del coche">

    <div class="row p-3 fds">
      <div class="col-auto">
        <h5 class="car-name">
          <%= coche.name %>
        </h5>
        <p class="car-plate">
          <%= coche.plate %>
        </p>
      </div>
      <% if (coche.status) { %>
        <div class="col-auto">
          <btn class="btn primary-btn">
            PAGAR
          </btn>
        </div>
      <% } %>
    </div>
    <div class="container-fluid ctnf py-3">
      <div class="row m-3 p-3" id="hist-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    

</body>

</html>