<!DOCTYPE html>
<html>
<%- include("head") %>
    </head>

    <body>
        <%- include("navbar") %>

            <div>
                <div class="headerIm">
                    <img src="/imagen/<%=usuario.id%>" id="prf-img" alt="imagen del coche">

                    <img src="/imagen/<%=usuario.id%>" id="bck-img" alt="imagen del usuario">
                    <div id="efecto"></div>
                </div>
            </div>
            <div class="container pa-t">
                <div class="row align-items-center">
                    <div class="col-10 text-start">
                        <h5 class="normal-text">
                            Bienvenido
                            <%= usuario.name %>
                        </h5>

                    </div>
                    <div class="col-2 text-end">
                        <button class="btn submit-button" data-bs-toggle="modal" data-bs-target="#añadirCocheModal"> Añadir coche </button>
                    </div>
                </div>



                <% if (!coches) { %>
                    <h1 class="p-2 text-center">No tiene coches registrados</h1>

                    <% } else { %>

                        <div class="d-flex flex-wrap justify-content-evenly">
                            <% coches.forEach(car => {%>
                                <%- include("card", {car}) %>
                                    <% }); %>
                        </div>
                        <% } %>
            </div>
            <!-- 
            <div class="p-2 text-center">
            </div> -->
            <%- include("newCar", {usuario: usuario}) %>
    </body>

</html>