<!DOCTYPE html>
<html>
<%- include("head") %>
    <link rel="stylesheet" href="/css/car.css">
    </head>

    <body>
        <%- include("navbar") %>
            <div>
                <div class="headerIm">
                    <img src="/imagenCoche/<%=coche.id%>" id="prf-img" alt="imagen del coche">
                    <img src="/imagenCoche/<%=coche.id%>" id="bck-img" alt="imagen del coche">
                    <div id="efecto"></div>
                    <div class="car-plate">
                        <div class="blue-banner">
                            <img class="eu-stars" src="/images/European_stars.svg" alt="european stars">
                            <span class="country-letter">E</span>
                        </div>
                        <p class="car-id">
                            <%= coche.plate %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container pa-t">
                <div class="row align-items-center">
                    <div class="col-10 text-start">
                        <h5 class="normal-text">
                            <%= coche.name %>
                        </h5>

                    </div>
                    <div class="col-2 text-end">
                        <% if (coche.status) { %>
                            <button id="payBtn" type="button" class="btn btn-success">PAGAR</button>
                            <% } %>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center m-3">
                    <div class="col-auto">
                        <% if (coche.status) { %>
                            <span class="status-coche status-dentro">
                                El coche encuentra en el aparcamiento
                            </span>

                            <% } else { %>
                                <span class="status-coche status-fuera">
                                    El coche se encuentra fuera del aparcamiento
                                </span>
                                <% } %>
                    </div>
                </div>
                <hr class="divider">
                <div class="row p-3">
                    <h5 class="history-title">
                        Historial
                    </h5>
                </div>
                <div class="row m-3 p-3" id="hist-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Entry time</th>
                                <th scope="col">Exit time</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <% for(let i = 0; i < history.length; i++){ %>
                                    <th scope="row">
                                        <%=i + 1%>
                                    </th>
                                    <td>
                                        <%= history[i].entryTime %>
                                    </td>
                                    <td>
                                        <%= history[i].exitTime %>
                                    </td>
                                    <% } %>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <% if (coche.status) { %>
                <div id="spn" style="display: none;">
                    <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="myModal" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Pagar tiempo estacionado</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6">
                                        <p>Tiene que pagar </p>
                                    </div>
                                    <div class="col-6"><span id="infoPago" class="cifra-pago"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Tiempo estacionado: </p>
                                    </div>
                                    <div class="col-6">
                                        <p id="infoTiempo"></p>
                                    </div>


                                </div>
                            </div>
                            <form action="/pagar" method="post">
                                <input type="hidden" id="carId" name="carId" value="<%=coche.id%>">
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" class="btn btn-success col-12">Pagar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
    </body>
    <% if (coche.status) { %>
        <script src="/scripts/pay.js"></script>
        <% } %>

</html>